<launch>
  <arg name="model" default="$(find sixdofarm)/urdf/sixdofarm.urdf" />
  <param name="robot_description" textfile="$(arg model)" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- node name="rviz" pkg="rviz" type="rviz"/ -->
</launch>
